<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>managed_installs</key>
        <array>
                <string>AWSCLI</string>
                <string>iTerm2</string>
                <string>Spotify</string>
                <string>openconnect-flywire</string>
                <string>AWSSessionManagerPlugin</string>
                <string>Postman</string>
        </array>
        <key>managed_uninstalls</key>
        <array/>
</dict>
</plist>
