docopt==0.6.2
numpy==1.19.4
packaging @ file:///private/tmp/sip--packaging-20210619-77867-j1uolo/packaging-20.9
protobuf==3.17.3
pyparsing==2.4.7
PyQt3D==5.15.4
PyQt5==5.15.4
PyQt5-sip==12.9.0
PyQt6==6.1.1
PyQt6-3D==6.1.1
PyQt6-Charts==6.1.1
PyQt6-DataVisualization==6.1.1
PyQt6-NetworkAuth==6.1.1
PyQt6-sip==13.1.0
PyQtChart==5.15.4
PyQtDataVisualization==5.15.4
PyQtNetworkAuth==5.15.4
PyQtPurchasing==5.15.4
PyQtWebEngine==5.15.4
sip==6.1.1
six==1.16.0
TBB==0.2
toml==0.10.2
