{{- if ( and (hasKey . "work") ( eq .work true) ) }}

echo
echo "Don't forget to run this command to install missing tools for SHA {{ include "private_dot_config/SelfServeManifest.tmpl" | sha256sum }}!!!"
echo 'sudo cp ~/.config/SelfServeManifest /Library/Managed\ Installs/manifests/SelfServeManifest'

{{- end -}}
