{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt-get update
sudo apt-get install build-essential
sudo apt install -y zsh
sudo apt install -y fzf
sudo apt install -y tig
sudo apt install -y vim
sudo apt install curl git
git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.10.2
sudo apt install ripgrep
sudo apt install dirmngr gpg gawk
sudo apt-get -y install cmake
sudo apt install pkg-config
sudo apt-get install fontconfig

# Install rust if not installed
[ -x "$(command -v cargo)" ] || curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

{{ if eq .chezmoi.os "linux" -}}
{{   if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
sudo apt-get install cmake pkg-config libfreetype6-dev libfontconfig1-dev libxcb-xfixes0-dev libxkbcommon-dev python3
cargo install alacritty
cargo install docpars
{{   end }}
{{ end -}}

chsh -s $(which zsh)

#Install VS Codium
wget -qO - https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg \
    | gpg --dearmor \
    | sudo dd of=/usr/share/keyrings/vscodium-archive-keyring.gpg

echo 'deb [ signed-by=/usr/share/keyrings/vscodium-archive-keyring.gpg ] https://download.vscodium.com/debs vscodium main' \
    | sudo tee /etc/apt/sources.list.d/vscodium.list

sudo apt update && sudo apt install codium

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Reinstall developer tools if there's any recent update
echo "Reinstalling Mac OS developer tools. If the process end, run it again"
sudo xcode-select --install
# Accept license after an update
sudo xcodebuild -license accept

# Install brew if not installed
[ -x "$(command -v /opt/homebrew/bin/brew)" ] || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# Install rust if not installed
[ -x "$(command -v cargo)" ] || curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

# Set as default shell
chsh -s /usr/local/bin/zsh

$HOME/.cargo/bin/cargo install docpars

/opt/homebrew/bin/brew install ripgrep
/opt/homebrew/bin/brew install zsh

/opt/homebrew/bin/brew install --cask alacritty
/opt/homebrew/bin/brew install fzf
/opt/homebrew/bin/brew install tig
/opt/homebrew/bin/brew install asdf

# To install useful key bindings and fuzzy completion:
$(/opt/homebrew/bin/brew --prefix)/opt/fzf/install

/opt/homebrew/bin/brew tap "dandavison/delta", "https://github.com/dandavison/delta"
/opt/homebrew/bin/brew tap "homebrew/cask"
/opt/homebrew/bin/brew install "asdf"
/opt/homebrew/bin/brew install "awscli"
/opt/homebrew/bin/brew install "bash"
/opt/homebrew/bin/brew install "bat"
/opt/homebrew/bin/brew install "curl"
/opt/homebrew/bin/brew install "direnv"
/opt/homebrew/bin/brew install "dog"
/opt/homebrew/bin/brew install "duf"
/opt/homebrew/bin/brew install "exa"
/opt/homebrew/bin/brew install "gnutls"
/opt/homebrew/bin/brew install "fzf"
/opt/homebrew/bin/brew install "gcc"
/opt/homebrew/bin/brew install "git"
/opt/homebrew/bin/brew install "git-delta"
/opt/homebrew/bin/brew install "git-extras"
/opt/homebrew/bin/brew install "glow"
/opt/homebrew/bin/brew install "gnu-getopt"
/opt/homebrew/bin/brew install "gnu-sed"
/opt/homebrew/bin/brew install "gnupg"
/opt/homebrew/bin/brew install "grep"
/opt/homebrew/bin/brew install "htop"
/opt/homebrew/bin/brew install "httpie"
/opt/homebrew/bin/brew install "jenv"
/opt/homebrew/bin/brew install "jq"
/opt/homebrew/bin/brew install "lsd"
/opt/homebrew/bin/brew install "make"
/opt/homebrew/bin/brew install "mas"
/opt/homebrew/bin/brew install "neovim"
/opt/homebrew/bin/brew install "rust"
/opt/homebrew/bin/brew install "starship"
/opt/homebrew/bin/brew install "the_silver_searcher"
/opt/homebrew/bin/brew install "tig"
/opt/homebrew/bin/brew install "tldr"
/opt/homebrew/bin/brew install "tmux"
/opt/homebrew/bin/brew install "tree"
/opt/homebrew/bin/brew install "vim"
/opt/homebrew/bin/brew install "wget"
/opt/homebrew/bin/brew install "gawk"
/opt/homebrew/bin/brew tap homebrew/cask-fonts
/opt/homebrew/bin/brew install --cask "font-fira-code-nerd-font"
/opt/homebrew/bin/brew install --cask "karabiner-elements"
/opt/homebrew/bin/brew install --cask "keycastr"
/opt/homebrew/bin/brew install --cask vscodium

{{ end -}}

asdf plugin add nodejs
asdf plugin add ruby https://github.com/asdf-vm/asdf-ruby.git
asdf plugin add java

asdf install nodejs lts
asdf global nodejs lts

asdf install java adoptopenjdk-11.0.17+8
asdf global java adoptopenjdk-11.0.17+8

{{ if eq .chezmoi.os "linux" -}}

apt-get install autoconf bison patch build-essential rustc libssl-dev libyaml-dev libreadline6-dev zlib1g-dev libgmp-dev libncurses5-dev libffi-dev libgdbm6 libgdbm-dev libdb-dev uuid-dev

{{ else if eq .chezmoi.os "darwin" -}}

/opt/homebrew/bin/brew install openssl@3 readline libyaml gmp
export RUBY_CONFIGURE_OPTS="--with-openssl-dir=$(/opt/homebrew/bin/brew --prefix openssl@3)"
/opt/homebrew/bin/brew install rust
/opt/homebrew/bin/brew install bison

{{ end -}}

# Commented out until ruby 3.1.2 installation works in mac
# asdf install ruby latest
# asdf global ruby latest
