{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

export PATH=/opt/homebrew/bin:$PATH

brew install fish

echo "Adding fish to /etc/shells: $(which fish)"
echo $(which fish) | sudo tee -a /etc/shells > /dev/null

# Only change shell if fish is not already the default
echo "Current shell: $SHELL"
[ "$SHELL" != "$(which fish)" ] && chsh -s $(which fish)

brew install ripgrep
yes n | brew install fzf

# To install useful key bindings and fuzzy completion:
yes n | $(brew --prefix)/opt/fzf/install

brew tap common-fate/granted
brew install mise

mise use -g java
mise use -g node@lts
mise use -g ruby
mise use -g go
mise use -g python
mise use -g uv@latest
mise use -g bun@latest

# Install global playwright cli for claude code skill
npm install -g @playwright/cli@latest

#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ else if eq .chezmoi.os "linux" -}}

{{ end -}}
