{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt-get update
sudo apt-get install build-essential
sudo apt install -y zsh
yes n | sudo apt install -y fzf
sudo apt install -y tig
sudo apt install -y vim
sudo apt install curl git
git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.10.2
sudo apt install ripgrep
sudo apt install dirmngr gpg gawk
sudo apt-get -y install cmake
sudo apt install pkg-config
sudo apt-get install fontconfig

# Install rust if not installed
[ -x "$(command -v cargo)" ] || curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

{{ if eq .chezmoi.os "linux" -}}
{{   if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
sudo apt-get install cmake pkg-config libfreetype6-dev libfontconfig1-dev libxcb-xfixes0-dev libxkbcommon-dev python3
cargo install docpars
{{   end }}
{{ end -}}

chsh -s $(which zsh)

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Reinstall developer tools if there's any recent update
echo "Reinstalling Mac OS developer tools. If the process end, run it again"
sudo xcode-select --install

# Accept license after an update
sudo xcodebuild -license accept

# In M1 the brew binary is installed in /opt https://apple.stackexchange.com/questions/437618/why-is-homebrew-installed-in-opt-homebrew-on-apple-silicon-macs
{{ if eq .chezmoi.arch "arm64" -}}
alias brew=/opt/homebrew/bin/brew
{{ end -}}

# Install brew if not installed
[ -x "$(command -v brew)" ] || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# Install rust if not installed
[ -x "$(command -v cargo)" ] || curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y

# Set zsh as default shell
chsh -s /usr/local/bin/zsh

$HOME/.cargo/bin/cargo install docpars

brew install ripgrep
brew install zsh

brew install --cask alacritty
yes n | brew install fzf
brew install tig
brew install asdf

# To install useful key bindings and fuzzy completion:
yes n | $(brew --prefix)/opt/fzf/install

brew tap "dandavison/delta", "https://github.com/dandavison/delta"
brew install "asdf"
brew install "awscli"
brew install "bash"
brew install "bat"
brew install "curl"
brew install "direnv"
brew install "dog"
brew install "duf"
brew install "exa"
brew install "gnutls"
brew install "gcc"
brew install "git"
brew install "git-delta"
brew install "git-extras"
brew install "glow"
brew install "gnu-getopt"
brew install "gnu-sed"
brew install "gnupg"
brew install "grep"
brew install "htop"
brew install "httpie"
brew install "jenv"
brew install "jq"
brew install "lsd"
brew install "make"
brew install "mas"
brew install "neovim"
brew install "rust"
brew install "starship"
brew install "the_silver_searcher"
brew install "tig"
brew install "tldr"
brew install "tmux"
brew install "tree"
brew install "vim"
brew install "wget"
brew install "gawk"
brew install "maven"
brew install "gabrie30/utils/ghorg"
brew install "fd"
brew tap homebrew/cask-fonts
brew install --cask fork
brew install --cask "font-fira-code-nerd-font"
brew install --cask alfred
brew install --cask rectangle
brew install --cask "karabiner-elements"
brew install --cask "keycastr"
brew install --cask visual-studio-code
brew install --cask yippy
brew install --cask cursor
brew install --cask ghostty

alias asdf=$(brew --prefix)/bin/asdf

{{ end -}}

asdf plugin add nodejs
asdf plugin add ruby https://github.com/asdf-vm/asdf-ruby.git
asdf plugin add java

asdf install nodejs 20.18
asdf global nodejs lts

asdf install java adoptopenjdk-11.0.17+8
asdf global java adoptopenjdk-11.0.17+8

{{ if eq .chezmoi.os "linux" -}}

apt-get install autoconf bison patch build-essential rustc libssl-dev libyaml-dev libreadline6-dev zlib1g-dev libgmp-dev libncurses5-dev libffi-dev libgdbm6 libgdbm-dev libdb-dev uuid-dev
apt install coreutils

{{ else if eq .chezmoi.os "darwin" -}}

brew install openssl@3 readline libyaml gmp
export RUBY_CONFIGURE_OPTS="--with-openssl-dir=$(brew --prefix openssl@3)"
brew install rust
brew install bison

brew install coreutils
{{ end -}}

asdf plugin-add golang https://github.com/kennyp/asdf-golang.git
asdf install golang 1.19
asdf global golang 1.19


asdf plugin-add maven
asdf install maven 3.5.4
asdf global maven 3.5.4

brew install openssl@3 readline libyaml gmp
export RUBY_CONFIGURE_OPTS="--with-openssl-dir=$(brew --prefix openssl@3)"
asdf install ruby 3.1.2
asdf global ruby 3.1.2
